<!-- about.php -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About RewardWave</title>
    <link rel="stylesheet" href="../Styles/MainStyles.css">
</head>
<body>
    <!--With some framework, I should be able to create a dinamic "about RewardWave" that works as a user manual.-->

    <h1>About RewardWave</h1>
    <p>
        This is my very first time developing an html/php web application.
        It will not be 100% a perfect page, however it was developed with a lot of care and love. I hope you enjoy it.
    
    </p>

</body>
</html>